body
{
    margin-top: 0;
    background-image: url(mainphoto.jpg);
    background-size: cover;
    text-align: center;
    display:flex;
    flex-direction: column;
    
}
p
{
    margin:auto;
    width: 40%;
    color:white ;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    background-color:rgba(55,40 , 35, 0.75) ;
    justify-content: center;
}
#logo
{
    justify-content: center;
    width: 200px;
    height: 200px;
}
#txt1
{
    margin-top: 400px;
}
